body {
    font-family: Arial, Helvetica, sans-serif;
     
}

h1{

    font-style: oblique;
    text-align: center;
    color: #a01458;
    background-color: bisque;
    margin-left: 250px;
    margin-right: 250px;
    
    }

div{
    border-style: dashed;
    border-color: rgb(14, 192, 192);
    border-radius: 5px;
    margin: 50px
}

img{
    display: inline-block;    
    margin-left: 500px;

}
figcaption{
    text-align: center;
    font-size: small;
    color: rgb(20, 83, 11);

}